/*================================================
        subscribe part css start
===================================================*/
#subscribe{
        padding: 80px 0 40px 0;
        background: #000;
        .socila{
                .subs-head{
                        @include fs(24px,400,#fff);
                        font-family: $ff;
                        margin-bottom: 20px;

                }
                ul{
                        li{
                                a{
                                        @include fs(16px,400,#fff);
                                        font-family: $ff;
                                }
                        }
                }
        }
        .subscribee-btn{
                margin-top: 40px;
                .xx{
                        border-radius: 9px;
                        padding: 10px 50px;
                        background: #1638c9;
                        @include fs(16px,400,#fff);
                        font-family: $ff;
                }
        }
}


/*================================================
        subscribe part css end
===================================================*/